
// Margins and paddings
$rule-keys: p m;

@each $key in $rule-keys {
  $rulename: margin;
  $list: $margins;

  @if $key == p {
    $rulename: padding;
    $list: $paddings;
  }
  @each $val in $list {
    // All
    .u-#{$key}#{$val} {
      #{$rulename}: #{$val}px;
    }

    // Top
    .u-#{$key}t#{$val} {
      #{$rulename}-top: #{$val}px;
    }

    // Right
    .u-#{$key}r#{$val} {
      #{$rulename}-right: #{$val}px;
    }

    // Bottom
    .u-#{$key}b#{$val} {
      #{$rulename}-bottom: #{$val}px;
    }

    // Left
    .u-#{$key}l#{$val} {
      #{$rulename}-left: #{$val}px;
    }
  }
}