$baseline:    16;
$base:        #{$baseline}px;

$margins:     $baseline/4 $baseline/2 $baseline $baseline*1.5 $baseline*2 $baseline*3 $baseline*4;
$paddings:    $margins;

$font-sizes:  10 12 14 16 18 20 22 24 28 32 36 48;