/* **************** MARGINS **************** */

// margin 10px
.u-m {
  margin: $baseline;
}

.u-mt {
  margin-top: $baseline;
}

.u-mr {
  margin-right: $baseline;
}

.u-mb {
  margin-bottom: $baseline;
}

.u-ml {
  margin-left: $baseline;
}


// margin 5px
.u-m-h {
  margin: $xsm;
}

.u-mt-h {
  margin-top: $xsm;
}

.u-mr-h {
  margin-right: $xsm;
}

.u-mb-h {
  margin-bottom: $xsm;
}

.u-ml-h {
  margin-left: $xsm;
}


// margin 15px
.u-m-sm{
  margin: $sm;
}

.u-mt-sm {
  margin-top: $sm;
}

.u-mr-sm {
  margin-right: $sm;
}

.u-mb-sm {
  margin-bottom: $sm;
}

.u-ml-sm {
  margin-left: $sm;
}


// margin 20px
.u-m-md{
  margin: $md;
}

.u-mt-md {
  margin-top: $md;
}

.u-mr-md {
  margin-right: $md;
}

.u-mb-md {
  margin-bottom: $md;
}

.u-ml-md {
  margin-left: $md;
}


// margin 40px
.u-m-lg{
  margin: $lg;
}

.u-mt-lg {
  margin-top: $lg;
}

.u-mr-lg {
  margin-right: $lg;
}

.u-mb-lg {
  margin-bottom: $lg;
}

.u-ml-lg {
  margin-left: $lg;
}


// margin 50px
.u-m-xlg{
  margin: $xlg;
}

.u-mt-xlg {
  margin-top: $xlg;
}

.u-mr-xlg {
  margin-right: $xlg;
}

.u-mb-xlg {
  margin-bottom: $xlg;
}

.u-ml-xlg {
  margin-left: $xlg;
}


// margin 60px
.u-m-huge{
  margin: $huge;
}

.u-mt-huge {
  margin-top: $huge;
}

.u-mr-huge {
  margin-right: $huge;
}

.u-mb-huge {
  margin-bottom: $huge;
}

.u-ml-huge {
  margin-left: $huge;
}
