/* **************** PADDINGS **************** */

// Padding 10px
.u-p {
  padding: $baseline;
}

.u-pt {
  padding-top: $baseline;
}

.u-pr {
  padding-right: $baseline;
}

.u-pb {
  padding-bottom: $baseline;
}

.u-pl {
  padding-left: $baseline;
}


// Padding 5px
.u-p-h {
  padding: $xsm;
}

.u-pt-h {
  padding-top: $xsm;
}

.u-pr-h {
  padding-right: $xsm;
}

.u-pb-h {
  padding-bottom: $xsm;
}

.u-pl-h {
  padding-left: $xsm;
}


// Padding 15px
.u-p-sm{
  padding: $sm;
}

.u-pt-sm {
  padding-top: $sm;
}

.u-pr-sm {
  padding-right: $sm;
}

.u-pb-sm {
  padding-bottom: $sm;
}

.u-pl-sm {
  padding-left: $sm;
}


// Padding 20px
.u-p-md{
  padding: $md;
}

.u-pt-md {
  padding-top: $md;
}

.u-pr-md {
  padding-right: $md;
}

.u-pb-md {
  padding-bottom: $md;
}

.u-pl-md {
  padding-left: $md;
}


// Padding 40px
.u-p-lg{
  padding: $lg;
}

.u-pt-lg {
  padding-top: $lg;
}

.u-pr-lg {
  padding-right: $lg;
}

.u-pb-lg {
  padding-bottom: $lg;
}

.u-pl-lg {
  padding-left: $lg;
}


// Padding 50px
.u-p-xlg{
  padding: $xlg;
}

.u-pt-xlg {
  padding-top: $xlg;
}

.u-pr-xlg {
  padding-right: $xlg;
}

.u-pb-xlg {
  padding-bottom: $xlg;
}

.u-pl-xlg {
  padding-left: $xlg;
}


// Padding 60px
.u-p-huge{
  padding: $huge;
}

.u-pt-huge {
  padding-top: $huge;
}

.u-pr-huge {
  padding-right: $huge;
}

.u-pb-huge {
  padding-bottom: $huge;
}

.u-pl-huge {
  padding-left: $huge;
}
